<div *ngIf="player">
    <h2><span jhiTranslate="tableTennisManagerApp.player.detail.title">Player</span> {{player.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tableTennisManagerApp.player.firstName">First Name</span></dt>
        <dd>
            <span>{{player.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="tableTennisManagerApp.player.lastName">Last Name</span></dt>
        <dd>
            <span>{{player.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="tableTennisManagerApp.player.frenoyId">Frenoy Id</span></dt>
        <dd>
            <span>{{player.frenoyId}}</span>
        </dd>
        <dt><span jhiTranslate="tableTennisManagerApp.player.ranking">Ranking</span></dt>
        <dd>
            <span>{{player.ranking}}</span>
        </dd>
    </dl>

    <div *ngFor="let match of player.awayMatches">
        <div *ngIf="match">
            <span>{{match.awayPlayer?.lastName}} - {{match.homePlayer?.lastName}} {{match.awayPlayerSets}} - {{match.homePlayerSets}}</span>
        </div>
    </div>

    <div *ngFor="let match of player.homeMatches">
        <div *ngIf="match">
            <span>{{match.homePlayer?.lastName}} - {{match.awayPlayer?.lastName}} {{match.homePlayerSets}} - {{match.awayPlayerSets}}</span>
        </div>
    </div>

    <jhi-match-detail *ngFor="let match of player.awayMatches" [match]="match"></jhi-match-detail>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
