<div>
    <h2>
        <span jhiTranslate="tableTennisManagerApp.match.home.title">Matches</span>
        <button class="btn btn-primary float-right jh-create-entity create-match" [routerLink]="['/', { outlets: { popup: ['match-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="tableTennisManagerApp.match.home.createLabel">
            Create new Match
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="matches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="homePlayerSets"><span jhiTranslate="tableTennisManagerApp.match.homePlayerSets">Home Player Sets</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="awayPlayerSets"><span jhiTranslate="tableTennisManagerApp.match.awayPlayerSets">Away Player Sets</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="homePlayer.lastName"><span jhiTranslate="tableTennisManagerApp.match.homePlayer">Home Player</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="awayPlayer.lastName"><span jhiTranslate="tableTennisManagerApp.match.awayPlayer">Away Player</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let match of matches ;trackBy: trackId">
                <td><a [routerLink]="['../match', match.id ]">{{match.id}}</a></td>
                <td>{{match.homePlayerSets}}</td>
                <td>{{match.awayPlayerSets}}</td>
                <td>
                    <div *ngIf="match.homePlayer">
                        <a [routerLink]="['../player', match.homePlayer?.id ]" >{{match.homePlayer?.lastName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.awayPlayer">
                        <a [routerLink]="['../player', match.awayPlayer?.id ]" >{{match.awayPlayer?.lastName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../match', match.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="matches && matches.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
